.LoginPage {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-image: url("https://images.hdqwalls.com/download/peaceful-blur-background-1x-1400x900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 

  }