

.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    padding: 50px 20px;
    
    
  
    .LoginHeader {
      font-size: 40px;
      border: none;
      outline: none;
  
    }

    .RegisterHeader{
      font-size: 40px;
      border: none;
      outline: none;
    }
  
    .content {
      display: flex;
      flex-direction: column;
  
      .image {
        width: 20em;
      
        img {
          width: 60%;
          height: 100%;
        }
      }
  
      .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 20px;
          }
          input {
            margin-top: 6px;
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 31px;
            transition: all 250ms ease-in-out;
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #253550b2;
            }
          }
        }
      }
    }
  
    .footer {
      margin-top: 2em;
    }
  }

  .signupFooter{
    margin: 3em;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

//Button
.btn {
  font-size: 21px;
  padding: 10px 50px;
  border: 0;
  background-color: #5c7281;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #052235;
  }
  &:focus {
    outline: none;
  }
  margin-left: 10px;
}

